 :root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

 p {
   margin: 0;
 }

 /*

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 body,
 html {
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 .page {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

canvas {
  height: 100dvh;
  width: 100dvw;
}

 #page2 {
   background-color: #1a1a1a;
   color: #fff;
 }

 #page3 {
   background-color: #e74c3c;
   color: #fff;
 }



 .aboutme {
   position: absolute;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }

 .aboutme * {
  background-color:black;
 }

 .aboutme h1 {
  text-shadow: -4px 1px 1px #FD5C70;
 }

 .scrollmore {
   position: absolute;
   bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
 }

 .scrollmore * {
  background-color: black;
 }

 .scrollmore:hover {
   animation: breathing 5s infinite normal;
 }

 @keyframes breathing {
   0% {
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }

   25% {
     -webkit-transform: scale(0.9);
     -ms-transform: scale(0.9);
     transform: scale(0.9);
   }

   50% {
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }

   75% {
     -webkit-transform: scale(0.9);
     -ms-transform: scale(0.9);
     transform: scale(0.9);
   }

   100% {
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }
 }


 .mylinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top:50px;
}

.mylinks a {
  align-items: center;
  text-decoration: none;
  color: #FD5C70;
  display:flex;
  align-items: center;
  justify-content: center;
}


.works-container {
  width: 75%;
}

.works-container p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;

}

.works {
  height: 95dvh;
  width: 90dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work {
  height: 50dvh;
  margin-top: 2rem;
}

.halfwrapper {
  display:flex;
}

.half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.button {
  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #fff;
}
.button__text {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.button__text:before {
  content: attr(title);
}
.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-1em);
  opacity: 0;
  font-size: 20px;
}
.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}
.button:hover {
  opacity: 1;
}
.button:hover .button__text {
  animation: fx-text 0.3s ease-out;
}
.button:hover .button__text--bis {
  animation: fx-text-bis 0.3s ease-out;
}
.button:hover .button__mask {
  animation: fx-mask 0.3s ease-out;
}
.button:active {
  opacity: 1;
  background: white;
  color: inherit;
}
@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
 }
  100% {
    transform: translateX(100%) rotate(45deg);
 }
}
@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
 }
  100% {
    transform: translateX(1em);
    opacity: 0;
 }
}
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0;
 }
  100% {
    transform: translateX(0);
    opacity: 1;
 }
}